<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>URL Shortener with Node.js + MongoDB - ScaleGrid</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.12/js/all.js" integrity="sha384-Voup2lBiiyZYkRto2XWqbzxHXwzcm4A5RfdfG6466bu5LqjwwrjXCMBQBLMWh7qR"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h2>Link Shorty</h2>
        </div>
        <form id="form_shorten" role="form">
            <div class="input-group">
                <input type="url" class="form-control text-url" placeholder="Enter a URL to shorten..." value="https://google.com" />
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-success btn-shorten">Shorten</button>
                </span>
            </div>
        </form>
        <br />
        <div id="shorten_area" class="hide">
            <h4 style="color: white;">Shortened URL: </h4>
            <div class="input-group">
                <span id="foo" class="shortened-url"></span>
                <button id="copyButtonID" class="btn" data-clipboard-target="#foo">
                    <i class="far fa-copy"></i>
                </button>
            </div>
        </div>
        <p></p>
    </div>
    <div class="recents">
        <% posts.forEach(function(post) { %>
            <p>
                <%=post.url%>
            </p>
            <%}%>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
    <script>
        var clipboard = new ClipboardJS('.btn');
    </script>
    <script>
        $("#copyButtonID").click(function (event) {
            $("p").text("Copied to clipboard").show().fadeOut(3000);
            return;
        });
    </script>
    <script src="js/main.js"></script>
</body>

</html>